@charset "utf-8";

* {
    margin: 0;
    /*最初の設定をオフ*/
    padding: 0;
}

html {
    font-size: 100%;
}

body {
    color: #383e45;
    font-size: 0.9rem;
}

.container {
    display: block;/**/
    max-width: 960px;
    margin:0 auto;/*全体の設定*/
    text-align: center;/*親要素とｐタグにきく*//*inline-blockの中央よせにはその親要素にtext-align:center;*/
}

#header {
    display: flex;
    justify-content: space-between;   /*block inline-blockと一緒には使えない*/
    /*両端に寄せる*/
    align-items: center;              /*block inline-blockと一緒には使えない*/
    /**縦の横棒の中央ぞろえ　heightとくっつく*/
    margin: 0 auto;
    /*横の横棒中央ぞろえ*/
    max-width: 820px;
    /*サイトの最大の幅の固定*/
    height: 60px;
}

#header ul {
    display: flex;
    gap: 30px;
}

#header li a {
    color: #383e45;
}

#header li a:hover {
    opacity: 0.7;
}

#header img {
    width: 120px;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

li {
    list-style: none;
}

.site-title {
    width: 42px;
    height: 14px;
    line-height: 1px;
    padding: 10px 0;

}

.site-title a {
    display: inline-block;
}

.section-title {
    display:inline-block;/*blockで「見せる」inline-blockは縦幅で見たときの要素の横幅の大きさにしかならないから、about
    分の幅にきく。ピンぽインtpで要素の内容を変更したいとき*/
    font-size: 32px;
    padding-top: 30px;
    border-bottom: solid 1px #383e45;

}

.content-title {
    font-size: 16px;
    margin: 10px 0;

}

#main-visual img {
    width: 100%;
    max-width: 1920px;
    height: 626.4px;
    object-fit: cover;
    margin-bottom: 80px;
}

@media screen and (max-width:600px) {
    #mainvisual img {
        height: calc(100vh - 60px);/*vhはviewport height 画面の高さの100％から60px引いた高さ*/
    }
}

/*sectionいらない*/
#About .content {
    /*半角空白を開けることで階層をを分ける*/
    display: flex;
    justify-content: center;
    align-items: center;
}

#About img {
    width: 128px;
    height: 128px;
    border-radius: 50%;
    margin-right: 48px;
}

#About .text {/*半角空白忘れない*/
    text-align: left;
}

@media screen and (max-width:600px) {
    #About .content {
        flex-direction: column;
    }

    #About img {
        margin-right: 0;
    }
}

@media screen and (max-width:600px) {
    #About {
        flex-direction: column;
        width: 100%;
        margin-bottom: 30%;
    }

}

section #Bicycle.content {
    display: flex;
    justify-content: center;
}

ul {
    display: flex;
    justify-content: space-between;
}

#Bicycle li {
    width: 33%
}

@media screen and (max-width:600px) {
    #Bycicle ul {
        flex-direction: column;
    }

    #Bicycle li {
        width: 100%;
        margin-bottom: 30%;
    }
}


#footer {
    font-size: 8px;
    padding: 10px 0;
    text-align: center;
}